.top
{
z-index: 11;
position: relative;
}


nav a
{
display: inline-block;
transition: transform .2s ease-in-out;

pointer-events: none;
touch-action: none;
}

nav a > span
{
display: inline-block;
width: 40vmin;
height: 40vmin;
background-color: #eeeeee;

clip-path: polygon(0% 0%, 50% 86.7%, 100% 0%);

text-align: center;


pointer-events: all;
touch-action: all;
}

nav a:nth-of-type(even) > span
{
transform: rotate(0.5turn);
}

nav a:nth-of-type(even) > span > span{
transform: rotate(0.5turn);
}

nav a :active
{
background-color: #ddffcc;
}

nav a > span > span
{
top: 16%;
position: relative;
text-align: center;

display: inline-block;

pointer-events: none;
touch-action: none;
}
